$charcoal: #414141;
$lightGrey: rgb(185,197,213);
$green: rgb(87, 156, 66);
$blue: rgb(50,68,78);
$brown: rgb(61, 53, 59);

body {
    font-family: sans-serif;
    font-size: 18px;
    color: $charcoal;
    font-weight: 400;
    font-style: normal;
}


  