@import "_config.scss";

header {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $blue;
    border-bottom: 2px solid rgba(0,0,0,0.6);
    border-top: 2px solid rgba(0,0,0,0.6);
    z-index: 9;
    color: $lightGrey;

    nav{
        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        list-style-type: none;
        margin: auto;

        a {
            text-decoration: none;
            color: $lightGrey;
        }

        a:hover {
            padding-bottom: 5px;
            border-bottom: 2px solid $green;
            text-decoration: none;
            color: $lightGrey;
            transition: 0.3s all ease;
        }

        a:last-of-type {
            margin-right: 30px;
        }
    }




}



main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: 800px 60px 600px 250px 700px 250px 600px auto;
    border: 15px solid $charcoal;
}

#background {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(brooke-lark-182428-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    z-index: 7;

    #mainText {
        display: block;
        z-index: 8;
        align-self: center;
        justify-self: center;
        margin: auto;
        color: $green;
        border: 3px solid $green;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 30px 30px;
        font-size: 1em;

        h1 {
            font-size: 4em;
        }
        sup {
            margin-right: -50px;
        }

    }
}

#philosophy {
    background-image: linear-gradient(rgba(61, 53, 59, 0.9), rgba(61, 53, 59, 0.9)), url(tileable-wood.png);
    width: 100%;
    color: $green;
    display: flex;
    justify-content: center;

    #philoBox {
        align-self: center;
    }
    
    h1 {
        text-align: center;
        font-size: 1.5em;

    }

    p {
        padding-top: 20px;
        text-align: justify;
        font-size: 1em;
        max-width: 600px;
        margin: auto;
    }
}

#products {
    background-image: linear-gradient(rgba(61, 53, 59, 0.9), rgba(61, 53, 59, 0.9)), url(tileable-wood.png);
    display: grid;
    grid-template-rows: auto 550px;

    nav,
    ul {
        height: 50px;

    }

    nav {
        grid-row: 1;
        background-color: $lightGrey;
        margin-top: 60px;
        width: auto;
        justify-self: center;
        border-radius: 5px;

        

        ul {
            -webkit-padding-start: 0px;
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            flex-direction: row;
            flex-wrap: wrap;


            li:first-of-type {
                border-right: 1px solid rgba(0,0,0,0.6);
            }

            li:last-of-type {
                border-left: 1px solid rgba(0,0,0,0.6);

            }
            li {
                width: 100px;
                text-align: center;
                margin: auto;

                #navlink {
                    text-decoration: none;
                    color: $charcoal;
                }

            }
        }
    }


    div {
        grid-row: 2;
        
    }

    div,
    #productBox {
        width: 100%
    }

    #productBox {
        display: flex;
        flex-direction: column;
        color: $green;
        justify-content: center;
  

        h1,
        img,
        p {
            margin-bottom: 10px;
            text-align: center;
        }

        h1 {
            margin-top: 10px;
            font-size: 1.5em;

        }
        img {
            height: 300px;
            width: 300px;
            margin: auto;
            position: relative;
            border-radius: 5px;
        }

        p {
            max-width: 300px;
            text-align: justify;
            margin: auto;
            position: relative;

        }

        a {
            text-decoration: none;
            margin-top: 10px;
        }

        h2:hover {
            border: 1px solid $green;
            transition: 0.3s ease all;

        }

        h2 {
            text-align: center;
            font-size: 1.25em;
            color: $lightGrey;
            padding: 10px 10px;
            border: 1px solid $lightGrey;
            width: 200px;
            margin: auto;
            position: relative;
            border-radius: 10px;


            
            
        }
    }

}

#contact {
    background-image: linear-gradient(rgba(61, 53, 59, 0.9), rgba(61, 53, 59, 0.9)), url(tileable-wood.png);
    color: $green;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2,
    p {
        margin: 100px auto;
        max-width: 400px;
        text-align: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-around;
        -webkit-padding-start: 0px;

        li:hover {
            border: 1px solid $green;
        }

        li {
            
            display: block;
            height: 50px;
            width: 50px;
            border: 1px solid $lightGrey;
            text-align: center;
            margin: 0px 10px;
            padding-top: 5px;

            a {
                font-size: 1.5em;
                text-decoration: none;
                color: $lightGrey;

            }
        }
        
    }
}

.transparent {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(brooke-lark-182428-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    z-index: 0;
}


#footer {
    background-color: $charcoal;
    color: $lightGrey;
    height: auto;
}

@media only screen and (max-width: 500px) {

main {
    grid-template-rows: 800px 600px 250px 700px 250px 600px auto;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    border-bottom: 2px solid rgba(0,0,0,0.6);
    border-top: 2px solid rgba(0,0,0,0.6);
    z-index: 9;
    color: $lightGrey;
    padding-left: 40px;
    

    nav{
        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        list-style-type: none;
        margin: auto;
        -webkit-padding-start: 0px;

        li {
            width: 100%;
        }

        a {
            text-decoration: none;
            color: $lightGrey;
            width: 100%;
        }

        a:hover {
            padding-bottom: 2px;
            border-bottom: 2px solid $green;
            text-decoration: none;
            color: $lightGrey;
            transition: 0.3s all ease;
        }

        a:last-of-type {
            margin-right: 30px;
        }
    }




}
}